@model WeatherMeasurement

<h2>Vejr i @Model.Name</h2>

@if (Model.Weather != null)
{
    <p>Temperatur: @Model.Main.Temp °C</p>
    <p>Føles som: @Model.Main.Feels_Like °C</p>
    <p>Fugtighed: @Model.Main.Humidity%</p>
    <p>Beskrivelse: @Model.Weather[0].Description</p>
    
}

